footer {
  position: relative;
  overflow: visible;

  .container {
    @include flex(row, nowrap, normal, normal, 0px);


    .left {
      border-left: solid 1px rgb(28, 28, 33);
      border-right: solid 1px rgb(28, 28, 33);
      background-color: rgba(7, 7, 8, 1);
      max-width: 626px;
      width: 100vw;
      @include flex(column, nowrap, center, center, 60px);

      h6 {
        max-width: 466px;
        width: 100%;
      }

      .wrapper {
        @include flex(column, nowrap, normal, normal, 10px);

        .wrap-top {
          @include flex(row, nowrap, normal, center, 10px);
        }
      }
    }

    .right {
      padding: 100px 80px;
      @include flex(row, nowrap, center, center, 51px);
      border-right: solid 1px rgba(47, 47, 55, 1);
      max-width: 970px;
      width: 100vw;
      background-color: rgba(7, 7, 8, 1);

      .nav {
        @include flex(column, nowrap, normal, normal, 20px);

        h6 {
          font-size: 18px;
          font-weight: 600;
          line-height: 100%;
          text-transform: uppercase;
          color: rgba(121, 124, 134, 1);
        }

        .nav__links {
          @include flex(column, nowrap, normal, normal, 6px);

          a {
            padding: 6px 0;
            border-bottom: solid 1px rgba(47, 47, 55, 1);
            width: fit-content;
            text-transform: uppercase;
          }
        }
      }
    }

    .bg-left {
      position: absolute;
      left: 90px;
      top: 40%;
      transform: translateY(-50%);
      z-index: -1;
    }

    .bg-right {
      position: absolute;
      right: 90px;
      top: 40%;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  .bottom {
    max-width: 100%;
    @include flex(column, nowrap, normal, center, 0px);
    flex-direction: column !important;
    border-top: solid 1px rgba(28, 28, 33, 1);

    .wrapper {
      @include flex(row, nowrap, normal, center, 161px);
      padding-top: 24px;
      padding-bottom: 24px;
      max-width: 100%;
      max-width: 1670px;
      width: 100vw;
      padding-right: 40px;
      padding-left: 40px;

      p {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: rgba(121, 124, 134, 1);
      }

      .btns__slider {
        @include flex(row, nowrap, center, center, 10px);
        max-width: 184px;
        height: 68px;

        .slider-btn {
          @include flex(row, nowrap, center, center, 0px);
          width: 48px;
          height: 48px;

          img {
            width: 20px;
            border-radius: 0;

          }
        }
      }

      p:last-child {
        margin-left: auto;
        width: 100px;
      }
    }
  }
}